@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* detailList */
.detailList{
    margin: 0 auto;
    float : right;
    clear: both;
}
.detailList .scene{
	width: 14.5rem;
	height: 9.5rem;
	margin-bottom: 1rem;
	float: left;
}
.sr_empty{
	margin: 0 auto;
    padding-top: 9em;
}
img{
	width: 14.5rem;
    height: 9.5rem;
}
.titl{
	font-weight: bold;
    font-size: 1.7rem;
}

/* 페이징 */
.paginate{
	margin: 0 auto;
    padding-top: 2rem;
}
.selected{
	background-color: #e9ecef;
	pointer-events: none;
}
/* 앨범 수정 모달 */
#mgrModal .modal-content{
    margin: 0 auto;
    width: 110%;
    height: 40rem;
    margin-top: 20%;
}

#mgrModal .modal-title{
	margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
    
}
#mgrModal .close{
	font-size: 2.4rem;
    font-weight: 600;
    padding-top: 0;
    margin-right: 0;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
}
#mgrModal .globe, #mgrModal .lock{
	font-size: 1.5rem;
	float: right; 
	margin: 0.2rem;
	margin-top: 0.75rem;
}
.boxBorder{
	height: 35.3em;
	border-right: 1px solid #e9ecef;
}
.boxList{
	width: 13.2rem !important;
	height: 32rem;
	padding-top: 0.5rem;
    overflow: hidden;
}
.title_box{
	font-size: 1.5rem; 
	font-weight: bold;
	cursor: pointer;
}
.title_edit{
    margin-left: 0.5rem; 
}
.album_title{
	width: 12.7rem !important;
    /* width: 13.2rem !important; */
    height: 3rem;
    background-color: #d5dae0;
    cursor: pointer;
}
.al_add{
	width: 13.2rem;
	height: 3.34rem;
	background-color: #00cc99;
	color: white;
	font-size: 1.4rem;
    text-align: center;
    padding: 0.6rem;
}
.al_add i{
	    margin-right: 1rem;
}
.al_overflow {
    font-size: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Noto Sans KR', sans-serif;
    
    margin: 0;
    padding: 0;
}
.al_wrap{
    display: flex;
    background: white;
    padding: 0.5rem 1rem 0rem 1.3rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.5rem;
}
.srlist{
    height: 35.3rem;
}
.srlist .col-4{
	margin-right: 0;
    height: 9.5rem;
    display: inline-block;
    margin-bottom: 1rem;
}
/* .srlist .scene{
	margin-top: 3rem;
	margin-bottom: 1rem;
} */
.btn-group i{
	float: right;
    position: relative;
    top: 1.8rem;
    right: -10rem;
    font-size: 1rem;
    color: silver;
    cursor: pointer;
}
.dropdown-menu.show {
	top: 2rem !important; 
    left: 1.7rem !important;
}
/* 앨범 추가 모달 */
.modal-content{
    margin: 0 auto;
    width: 70%;
    margin-top: 30%;
}
.modal-title{
	margin-right: 1rem;
	font-weight: bold;
	
}
/* 피드 공통 */
.jumbotron{
    float: right;
    height: 25rem;
}

/* 앨범 목록 */
.overflow {
    font-size:0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Noto Sans KR', sans-serif;
    
    margin: 0;
    padding: 0;
    width: 9rem;
}

.albumList{
	margin: 0 auto;
	padding-left: 2.5rem;
    float : right;
    clear: both;
}
.album img{
	width: 12rem;
	height: 9rem;
	margin-bottom: 1rem;
}
.album{
       display: block;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.3rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    clear: both;
    width: 14rem;
    height: 16rem;
}
.titleFont{
    font-family: 'Noto Sans KR', sans-serif;
}
.result{
    padding-top: 3rem;
    color: #00cc99;
    border-bottom: 2px solid #00cc99;
    margin:0;
}
.a_btn{
    float: right;
    font-size: 1rem;
}
.btn-success{
    color: #fff;
    background-color: #00cc99;
    border-color: #00cc99;
}
.container {
    height: 200%;
}

@media ( min-width : 0px) {
    section {
    
    }
}

@media ( min-width : 992px) {
    section {
    }
}

.wrap .img {
    width: 6rem;
}

.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

.ico-wrap {
    margin: 0;
    padding-left: 3rem;
}

.vcenter {
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.mbr-section-title3 {
    text-align: left;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.display-5 {
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-size: 1.4rem;
}

.mbr-bold {
    font-weight: 700;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}

.display-6 {
    
     font-family: 'Noto Sans KR', sans-serif; 
    /* font-family: 'East Sea Dokdo', cursive; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-size: 1re
}