@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
h1,h2,h3,h4,h5,h6 {
    font-family: 'Nanum Gothic', sans-serif;
}

body {
  min-height: 75rem;
  padding-top: 3.5rem;
}
.bgGray {
    background-color: #F2F4F7;
}

main {
    min-height: 75rem;
    
}
main.borderGray {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.w50 { width: 50px; }

.resize-none {
    resize: none;
}

/*==== 프로필 ==== */
.profile4X4 {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  border-radius: 100%;
}
.profile-medium {
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 100%;
}
.profile-medium2 {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}

/*==== top 버튼 ==== */
.return-top{
    right:3em; bottom:15px; position:fixed; z-index:9999999999;
}

/*==== 메인 ==== */
div.block-wide {
    margin-right: -15px;
    margin-left: -15px;
}
div.masthead {
    position: relative;
    background-color: #343a40;
    background: url(../img/ilidan.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
div.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.text-white {
    color: #fff!important;
}
.text-center {
    text-align: center!important;
}
.col-md-4 {
  display: inline-block;
  /* margin-left:-10px; */
}
.col-md-4 img{
  width:100%;
  height:auto;
}
  
body .carousel-control-prev-icon,
body .carousel-indicators li,
body .carousel-control-next-icon{
  background-color: rgb(0,0,0,0);
}

span.carousel-control-prev-icon {
 position: relative;
 right:40px;
}

span.carousel-control-next-icon {
 position: relative;
 /* bottom: 40px; */
 left:40px;
}





