@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
h1,h2,h3,h4,h5,h6 {
    font-family: 'Nanum Gothic', sans-serif;
}

body {
  min-height: 75rem;
  padding-top: 3.5rem;
}
body.bgGray {
    background-color: #F2F4F7;
}

main {
    min-height: 75rem;
    
}
main.borderGray {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.w50 { width: 50px; }

/*===== range slider =====*/
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    /* background: #4CAF50; */
    background: #00cc99;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    /* background: #4CAF50; */
    background: #00cc99;
    cursor: pointer;
}
/*========================*/

