@charset "UTF-8";
.wPost {
    background: white;
    padding: 1rem 1rem 0 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin: 2rem 4rem;
    width: 45rem;
}

.pst {
    padding: 1rem 0;
    cursor: pointer !important;
}

.pst:hover {
    background-color: #f2f2f2;
    font-weight: bold;
}

.pst>i {
    font-size: 2rem;
    vertical-align: sub;
}

.btmIcon {
    padding: 0 0.4rem 1rem 1rem;
    font-size: 1.3rem;
    vertical-align: sub;
}

.hash {
    color: blue;
    font-weight: bold;
}

.reviewCont {
    height: 13rem;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.mauto {
    margin: 0 auto;
}

.sStar {
    font-size: 1.5rem;
    color: #FFD119;
}

#drop {
    float: right;
    
}