@charset "UTF-8";

.card-hot-sr {
    max-height: 20em;
}
.hot-sr-img scene{
    height: 14em;
}
.card-hot-sr .img-sr {
    height: 10em;
}

.hot-sr-img {
    height: 10em;
}

.hot-sr {
    height: 5em;
}

.hot {
    height: 20em;
    max-height: 20em;
}

.p-hot {
    max-height: 2em;
}

.p-hot2 {
    max-height: 10em;
    padding-top: 3em;
}

.c-hot {
    margin-top: 5em;
    padding-top: 1.5em;
}

.album img{
    height: 14em;
}
.overflow {
    font-size:0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Noto Sans KR', sans-serif;
    
    margin: 0;
    padding: 0;
    width: 9rem;
}
