table.w-100 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;

}
table.w-100 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: black;
    border-bottom: 3px solid black;
}
table.w-100 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.w-100 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    border-right: 0px;
}
.rcmdflw{
    margin-top:5em;
}
